Source: minerva-dispatcher
Section: contrib/misc
Priority: extra
Maintainer: Alfred Blokland <a.j.n.blokland@hendrikx-itc.nl>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://hendrikx-itc.nl

Package: minerva-dispatcher
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-minerva (>=3.0.0), python-configobj, python-pyinotify
Description: Minerva Dispatcher
 Provides a mechanism to distribute jobs to Minerva harvesters.
