Source: python-minerva-node-dummy
Section: contrib/misc
Priority: extra
Maintainer: Alfred Blokland <alfred.blokland@hendrikx-itc.nl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/python-minerva-node-dummy.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/python-minerva-node-dummy.git;a=summary

Package: python-minerva-node-dummy
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
