Source: minerva-transform-schema
Section: contrib/misc
Priority: extra
Maintainer: Alfred Blokland <alfred.blokland@hendrikx-itc.nl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.hendrikx-itc.nl

Package: minerva-transform-schema
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Minerva data transformation database schema
 <insert long description, indented with spaces>
